.quiz-area{
    display: block;
    width: auto;
    height: auto;
}
.repeated-item{
    margin:auto;
    font-weight: 700;
}
#question{
    font-family: serif;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 3em;
}
#options{
    font-family: sans-serif;
    margin: 25px 0px;
}
#options li{
    list-style-type: none;
    text-transform : capitalize;
    
}


[angular-ripple] {
    position: relative;
    overflow: hidden;
  }
  .angular-ripple {
    display: block;
    position: absolute;
    background-color: #008000;
    border-radius: 50%;
    transform: scale(0);
  }
  .angular-ripple.animate {
    animation: ripple 0.35s linear;
  }
  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }